<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>#Region</Title>
      <Author>Van Schandevijl Wouter</Author>
      <Description>Adds a #End Region in the source.</Description>
      <Shortcut>prend</Shortcut>
    </Header>
    <Snippet>
      <Code Language="VB"><![CDATA[#End Region]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>