body {
    margin:0px;
    font:.7em "trebuchet MS", tahoma, arial, helvetica, sans-serif;
    color:#000000;
}

a {
    color:#CC3333;
    text-decoration:none
}

a:hover {
    text-decoration:underline
}

a:visited {
    color:#993333
}

a:active {
    color:#64A0D2
}

h1, h4 {
    display:inline
}

h1 {
    font-weight:normal;
    font-size:1em
}

#trademark {
    width: 765px;
    color: #666666;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

#leftheader {
    width: 50%;
    float: left;
}

#rightheader {
    width: 50%;
    float: left;
    text-align: right;
}

#banner {
    width: 765px;
    margin-left: auto;
    margin-right: auto;
}

#leftbanner {
    float: left;
}

#rightbanner {
    float: left;
}

#topbreadcrumbscontainer {
    width: 765px;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
}

#topbreadcrumbs {
    color: #000000;
    background-color: #B3B3B3;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 700px;
    height: 22px;
    float: left;
    overflow: hidden;
}

#topbreadcrumbs a {
    color: #FFFFFF
}

#topbreadcrumbs ul {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 4px;
    width: 100%;
    text-indent: 8px;
    margin: auto;
}

#topbreadcrumbs ul li {
    float: left;
    height: 22px;
}

#topbreadcrumbs ul li:before {
    content: ">    ";
}

#topbreadcrumbs ul li:first-child:before {
    content: "";
}

#login {
    color: #000000;
    background-color: #B3B3B3;
    text-align: center;
    width: 61px;
    float: left;
    margin-left: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 22px;
    line-height: 1.8em;
}

#login a {
    color: #FFFFFF
}

#mainbody {
    width: 765px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    clear: both;
}

#leftnav {
    background-color: #ECECEC;
    width: 176px;
    float: left;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}

#leftnav ul {
    list-style-type: none;
    background-color: #E4E4E4;
    margin-left: 0px;
    margin-top: 14px;
    padding: 0px;
    width: 100%;
}

.navheading {
    height: 22px;
    border-bottom: 2px groove #ffffff;
    text-indent: 8px;
    line-height: 2em;
}

.navitem {
    height: 22px;
    border-bottom: 2px groove #ffffff;
    text-indent: 24px;
    line-height: 2em;
}

#article {
    width: 579px;
    float: left;
    margin-left: 8px;
    margin-top: 12px;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}

#article h2 {
    margin:-5px 0px 20px 0px;
    padding-bottom:6px;
    font-size:2em;
    border-bottom:1px solid #000000
}

#article h3 {
    margin-bottom:6px;
    font-size:1.7em
}

#article h4 {
    font-size:1.3em
}

#article p {
    text-align: justify;
    line-height: 1.5em;
}

#bottombreadcrumbs {
    color: #000000;
    background-color: #B3B3B3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 765px;
    height: 22px;
    overflow: hidden;
    clear: both;
}

#bottombreadcrumbs a {
    color: #FFFFFF
}

#bottombreadcrumbs ul {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 4px;
    width: 100%;
    text-indent: 8px;
    margin: auto;
}

#bottombreadcrumbs ul li {
    float: left;
    height: 22px;
}

#bottombreadcrumbs ul li:before {
    content: ">    ";
}

#bottombreadcrumbs ul li:first-child:before {
    content: "";
}

footer {
	margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    padding-top:9px;
	width:763px;
    height:41px;
	color:#787878;
    background:#ececec;
	border:1px solid #d3d3d3;
	text-align: center;
    clear: both;
}
