body
{
	background-image: url(Background.jpg);
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

.ImgBottomLeft
{
	width: 100%;
	height: 100%;
	background-image: url(SiteBottomLeft2.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.ImgBottomRight
{
	width: 100%;
	height: 100%;
	background-image: url(SiteBottomRight.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#ContentPane
{
	background-color: #e7c693;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align: top;
}